.about {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  height: auto;
  // width: 50vw;
  gap: 0;
  background-color: rgb(113, 113, 113);
  z-index: 999;
  .container {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(113, 113, 113);
    margin-left: 30px;
    z-index: 999;
    div {
      font-size: 48px;
      font-weight: 700;
    }
    p {
      //   margin-top: 0px;
      font-size: 24px;
      width: 500px;
      font-weight: normal;
      z-index: 999;
    }
  }
  .mypic {
    position: absolute;
    height: 500px;
    width: 50vw;
    overflow: hidden;
    right: 0;
    z-index: 1000;
    img {
      height: 1100px;
      margin-top: -140px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .about {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 500px;
    .container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-left: 0px;
      p {
        max-width: 90vw;
      }
    }
    .mypic {
      position: absolute;
      top: 2190px;
      right: 0;
      width: 100vw;
      display: flex;
      justify-content: center;
      img {
        height: 1800px;
        margin-top: -300px;
        margin-left: -40px;
        margin-right: -20px;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .mypic {
    position: absolute;
    top: 2190px;
    right: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    // align-items: center;
    img {
      height: 700px !important;
      margin-top: 100px !important;
      margin-left: -40px;
      margin-right: -20px;
    }
  }
}
